h1{
  font-size: 50px;
  text-align: center;
  background: #106DB2;
  position: sticky;
  color: white;
  left: 400px;
  width: 50%;
}
table{
  background-color:black;
  border-collapse: collapse;
  font-size: 20px;
}
table th{
  color: white;
}
table td{
  padding: 20px;
  color: white;
}
table tr:hover{
  background: mediumblue;
}
table td:hover{
  background: darkblue;
}
.alerta{
  position: relative;
  left: 420px;
  background-color: black;
  width: 30%;
}
/* Full-width inputs */
input[type=text], input[type=password] {
  width: 15%;
  position: relative;
  padding: 10px 10px;
  left: 500px;
}
button:hover{
  background: green;
}
.Asistencia:hover{
  background: green;
}
.Asistencia{
  background-color: #106DB2;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}
.enviar{
  background-color: #106DB2;
  color: white;
  position: relative;
  left: 480px;
  padding: 20px 20px;
  margin: 7px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}


/* Set a style for all buttons */
button {
  background-color: #106DB2;
  color: white;
  position: sticky;
  left: 600px;
  padding: 20px 20px;
  margin: 7px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  margin: 0 auto;
  max-width: 80%; 
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
